services:

  sonarqube:
    image: sonarqube:latest
    container_name: sonarqube
    ports:
      - "${SONARQUBE_PORT:-9000}:9000"
    volumes:
      - ${COMMON_PATH}\SonarQube\volumes\conf:/opt/sonarqube/conf
      - ${COMMON_PATH}\SonarQube\volumes\data:/opt/sonarqube/data
      - ${COMMON_PATH}\SonarQube\volumes\extensions:/opt/sonarqube/extensions
      - ${COMMON_PATH}\SonarQube\volumes\logs:/opt/sonarqube/logs
    cpus: 1.5
    mem_limit: 2g
    mem_reservation: 1g
    environment:
      - SONAR_JDBC_URL=jdbc:postgresql://sonarqube-db:5432/${SONARQUBE_POSTGRES_DB}
      - SONAR_JDBC_USERNAME=${SONARQUBE_POSTGRES_USER}
      - SONAR_JDBC_PASSWORD=${SONARQUBE_POSTGRES_PASSWORD}
    restart: unless-stopped
    networks:
      - sonarqube-network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/api/system/health"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 60s
    depends_on:
      sonarqube-db:
        condition: service_healthy

  sonarqube-db:
    image: postgres:17
    container_name: sonarqube-db
    volumes:
      - ${COMMON_PATH}\SonarQube\volumes\postgresql:/var/lib/postgresql/data
    cpus: 1.0
    mem_limit: 1g
    mem_reservation: 512m
    environment:
      - POSTGRES_USER=${SONARQUBE_POSTGRES_USER}
      - POSTGRES_PASSWORD=${SONARQUBE_POSTGRES_PASSWORD}
      - POSTGRES_DB=${SONARQUBE_POSTGRES_DB}
    restart: unless-stopped
    networks:
      - sonarqube-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${SONARQUBE_POSTGRES_USER} -d ${SONARQUBE_POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5

  smtp4dev:
    image: rnwood/smtp4dev:latest
    hostname: smtp4dev
    container_name: smtp4dev
    ports:
      - "${SMTP4DEV_WEB_PORT:-5000}:80"
      - "25:25"
      - "143:143"
    volumes:
      - ${COMMON_PATH}\Smtp4Dev\Containers\Volumes\data:/smtp4dev
      - ${COMMON_PATH}\Smtp4Dev\Containers\Volumes\keys:/root/.aspnet/DataProtection-Keys
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:80"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 20s
    cpus: 1.5
    mem_limit: 2g
    mem_reservation: 1g
    networks:
      - smtp4dev-network
    environment:
      - ServerOptions__Urls=${SMTP4DEV_SERVER_OPTIONS__URLS}

networks:
  sonarqube-network:
    driver: bridge
  smtp4dev-network:
    driver: bridge
